{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}

    <p class="lead font-weight-bold">Are you sure you want to delete this keeper?</p>
    <p> Keeper name: {{keeper.keeper_name}}</p>
    <p> Owner: {% for user in keeper.users.all %}
                {{ user }}
                {% endfor %}
    </p>

    <button type="submit" class="btn btn-dark mb-5">
        <a style="color: inherit; text-decoration:none;">Delete</a>
    </button>

    <button class="btn btn-dark mb-5">
        <a style="color: inherit; text-decoration:none;" href="{% url 'islaidos_app:viewKeeper' keeper.id %}">Cancel</a>
    </button>
</form>
{% endblock %}