{% extends 'base.html' %}
{% block content %}

<form method="post">
    <div class="form-group">
        {% csrf_token %}
        <div class="lead">Date</div>
        {{ form.data }}
        <div class="lead">Type</div>
        {{ form.tipas }}
        <div class="lead">Description</div>
        {{ form.description }}
        <div class="lead">Supplier</div>
        {{ form.tiekejas }}
        <div class="lead">Document number</div>
        {{ form.dok_nr }}
        <div class="lead">Amount (EUR)</div>
        {{ form.suma }}
        {{ form.keeper.as_hidden }}
    </div>
    <button class="btn btn-dark mb-5" type="submit" style="text-decoration:none;">
        Save
    </button>
    <button class="btn btn-dark mb-5">
        <a style="color: inherit; text-decoration:none;" href="{% url 'islaidos_app:viewKeeper' keeper.id %}">Cancel</a>
    </button>
    <button class="btn btn-dark mb-5">
        <a style="color: inherit; text-decoration:none;" href="{% url 'islaidos_app:viewKeeper' keeper.id %}">Cancel</a>
    </button>
</form>


{% endblock %}






