{% extends 'base.html' %}

{% block content %}

<div class="display-4 mb-4">
    Create a new expense keeper
</div>

<form method="POST">
    <div class="form-group">
        {% csrf_token %}
        {{ form }}
    </div>
    <button type="submit" class="btn btn-dark mb-5">Save</button>
</form>


<div class="display-4 mb-4">
    Lastest keepers
</div>

{% if keepers %}
{% for keeper in keepers %}
<div><a href="{% url 'viewKeeper' keeper.id %}">{{keeper.keeper_name}}</a> by {{keeper.user_name}}</div>
{% endfor %}
{% endif %}
<hr>
<br>
<br>
<br>
{% endblock %}

