<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for islaida in islaidos %}
        <li>{{islaida.data}}</li>
        <a href="{% url 'pakeisti' islaida.id %}">Pakeisti</a>
        {% if islaida %}
            <a href="{% url 'istrinti' islaida.id %}">Istrinti</a>
        {% endif %}


        {% endfor %}
    </ul>

    <a href="{% url 'sukurti' %}">Sukurti naują įrašą</a>


</body>
</html>
