{% extends 'base.html' %}
{% block chart %}
    <!--data to pass into separate js files for the google charts-->
    {{ chart_data|json_script:"pie_chart_data" }}
    {{ chart_data_2|json_script:"bar_chart_data" }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/js/piechart.js"></script>
    <script type="text/javascript" src="/static/js/barchart.js"></script>
{% endblock %}
{% block content %}

<div class="display-4 mb-4">
    Expense types:
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
            </thead>
            {% for tipas in expense_types %}
            <tr>
                <td>
                    <a href="{% url 'edit_type' keeper.id tipas.id %}">{{tipas.tipas}}
                    </a>
                </td>
                <td>
                    <a href="{% url 'edit_type' keeper.id tipas.id %}">
                        {{tipas.aktyvus}}
                    </a>
                </td>
                {% if tipas %}
                <td>
                    <a style="text-decoration: none" href="{% url 'delete_type' keeper.id tipas.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <button class="btn btn-dark mb-5">
            <a style="color: inherit; text-decoration:none;" href="{% url 'create_type' keeper.id %}">Create New</a>
        </button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="" id="piechart_id" style="width: 100%; height: 100%;"></div>
    </div>
</div>

<div class="display-4 mb-4">
    Expenses:
</div>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Supplier</th>
        <th>Doc No</th>
        <th>Amount</th>
        <th>Delete</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.data|date:"Y m d"}}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.tipas}}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.description}}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.tiekejas}}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.dok_nr}}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_expense' keeper.id expense.id %}">{{expense.suma}}
            </a>
        </td>
        <td>
            {% if expense %}
            <a href="{% url 'delete_expense' keeper.id expense.id %}">Delete
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="font-weight-bold">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold">{{expenses_total|floatformat:2}}</td>
        <td></td>
    </tr>
</table>

<button class="btn btn-dark mb-5">
    <a style="color: inherit; text-decoration:none;" href="{% url 'create_expense' keeper.id %}">Create New</a>
</button>

<div id="bar_chart_id"></div>

<hr>
<br>
<br>
<br>
{% endblock %}