{% extends 'base.html' %}
{% block chart %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var djangoData = "{{ chart_data }}";
        console.log(djangoData)
        var djangoData = djangoData.replace(/&#39;/g,'"');
        var djangoData = JSON.parse(djangoData);
        var data = google.visualization.arrayToDataTable(djangoData);

        var options = {
          title: 'Total expenditure by expense type',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
<div class="display-4 mb-4">
    Expense types:
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Active</th>
        <th>Delete</th>
    </tr>
    </thead>
    {% for tipas in islaidu_tipai %}
    <tr>
        <td>
            <a href="{% url 'pakeisti_tipa' tipas.id %}">{{tipas.tipas}}
            </a>
        </td>
        <td>
            <a href="{% url 'pakeisti_tipa' tipas.id %}">{{tipas.aktyvus}}
            </a>
        </td>
        {% if tipas %}
        <td>
            <a style="text-decoration: none" href="{% url 'istrinti_tipa' tipas.id %}">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<button class="btn btn-dark mb-5">
    <a style="color: inherit; text-decoration:none;" href="{% url 'sukurti_tipa' %}">Create New</a>
</button>

<div class="display-4 mb-4">
    Expenses:
</div>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Supplier</th>
        <th>Doc No</th>
        <th>Sum</th>
        <th>Delete</th>
    </tr>
    {% for islaida in islaidos %}
    <tr>
        <td>
            <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.data|date:"Y m d"}}
            </a>
        </td>
        <td>
            <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.tipas}}
            </a>
        </td>
        <td>
            <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.tiekejas}}
            </a>
        </td>
        <td>
            <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.dok_nr}}
            </a>
        </td>
        <td>
            <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.suma}}
            </a>
        </td>
        <td>
            {% if islaida %}
            <a href="{% url 'istrinti_is' islaida.id %}">Delete
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="font-weight-bold">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold">{{islaidu_suma|floatformat:2}}</td>
    </tr>

</table>
<button class="btn btn-dark mb-5">
    <a style="color: inherit; text-decoration:none;" href="{% url 'sukurti_is' %}">Create New</a>
</button>

<div class="mx-auto" id="piechart" style="width: 900px; height: 500px;"></div>

{% endblock %}