<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>
        Išlaidų tipai:
    </h2>
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Aktyvus</th>
        </tr>
        {% for tipas in islaidu_tipai %}
        <tr>
            <th>
                <a href="{% url 'pakeisti_tipa' tipas.id %}">{{tipas.tipas}}
                </a>
            </th>
            <th>
                <a href="{% url 'pakeisti_tipa' tipas.id %}">{{tipas.aktyvus}}
                </a>
            </th>
            {% if tipas %}
            <th>
                <a href="{% url 'istrinti_tipa' tipas.id %}">Ištrinti</a>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{% url 'sukurti_tipa' %}">Sukurti naują išlaidų tipą</a>
    </p>




    <h2>
        Išlaidos:
    </h2>
    <table>
        <tr>
            <th>Data</th>
            <th>Tipas</th>
            <th>Tiekėjas</th>
            <th>Dok Nr</th>
            <th>Suma</th>
        </tr>
        {% for islaida in islaidos %}
        <tr>
            <th>
                <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.data}}
                </a>
            </th>
            <th>
                <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.tipas}}
                </a>
            </th>
            <th>
                <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.tiekejas}}
                </a>
            </th>
            <th>
                <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.dok_nr}}
                </a>
            </th>
            <th>
                <a href="{% url 'pakeisti_is' islaida.id %}">{{islaida.suma}}
                </a>
            </th>
            <th>
                {% if islaida %}
                <a href="{% url 'istrinti_is' islaida.id %}">Istrinti
                </a>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url 'sukurti_is' %}">Sukurti naują išlaidų įrašą</a>
    </p>




</body>
</html>
