.container .form-group {
        width: 20%
}

.container .form-group label {
    display: block;
    margin-bottom: 10px;
}

.container .form-group input {
    display: block;
    margin-bottom: 12px;
}

.container .form-group input[type=checkbox]{
    box-sizing: border-box;
    width: 25px;
    height:25px;
}

.container .form-group select{
    display: block;
    margin-bottom: 12px;
}