{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="display-4 mb-4">
                Public keepers
            </div>
            {% if keepers %}
            {% for keeper in keepers %}
                <div class="lead">
                    <a href="{% url 'islaidos_app:viewKeeper' keeper.id %}">{{keeper.keeper_name}}</a> by
                    {% for user in keeper.users.all %}
                    {% if not user.is_public == True and not user == request.user %}
                        anonymous user,
                    {% else %}
                    <a href="{% url 'accounts:viewUser' user.id %}">{{ user.username }}, </a>
                    {% endif %}
                    {% endfor %}
                </div>
            <br>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% if not user.is_authenticated %}
            <div class="display-4 mb-4">
                Sign up
            </div>


            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <p class="lead"> {{ user_form.username.label }}</p>
                    <p class="lead"> {{ user_form.username }}</p>
                    <p class="lead"> {{ user_form.email.label }} (optional)</p>
                    <p class="lead"> {{ user_form.email }}</p>

                    <p class="lead"> {{ user_form.password1.label }}</p>
                    <p class="lead">  {{ user_form.password1 }}</p>
                    <p class="lead"> {{ user_form.password2.label }}</p>
                    <p class="lead"> {{ user_form.password2 }}</p>

                    <p class="lead"> {{ user_form.is_public.label }}</p>
                    <p class="lead"> {{ user_form.is_public }}</p>
                </div>
                <button type="submit" class="btn btn-dark mb-5">Create</button>
            </form>



            {% endif %}
        </div>
    </div>
</div>



<hr>
<br>
<br>
<br>
{% endblock %}

