{% extends 'base.html' %}
{% block content %}
<form method="post">
    <div class="form-group">
        {% csrf_token %}
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                <p class="lead"> {{ form.username.label }}</p>
                <p class="lead"> {{ form.username }}</p>
                <p class="lead"> {{ form.email.label }} (optional)</p>
                <p class="lead"> {{ form.email }}</p>

                <p class="lead"> {{ form.is_public.label }}</p>
                <p class="lead"> {{ form.is_public }}</p>
            </div>
            <button type="submit" class="btn btn-dark mb-5">Save</button>
            <button class="btn btn-dark mb-5">
                <a style="color: inherit; text-decoration:none;" href="{% url 'accounts:viewUser' user_profile.id %}">Cancel</a>
            </button>
        </form>
    </div>
</form>
{% endblock %}